# --- MAVEN (Compilación y dependencias) ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
build.log

# --- ARCHIVOS DE PERSISTENCIA LOCAL (Bases de datos binarias) ---
# Ignoramos el archivo de datos para que tus pruebas locales no se suban al repo de Git
*.dat
*.bin

# --- INTELIJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- NETBEANS ---
nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# --- ECLIPSE ---
.metadata
.classpath
.project
.settings/
*.launch

# --- SISTEMA OPERATIVO Y LOGS ---
*.log
.DS_Store
Thumbs.db